body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    margin: 0;
    background-color: rgba(98, 98, 112, 0.103);
}

.heading_part{
    width: 100%;
    margin: 0;
    
}

header{
    background-color: rgba(233, 217, 0, 0.596);
    transition: background-color ease-in-out 100ms;
    display: block;
}

header:hover{
    background-color: rgba(255, 238, 0, 0.904);
}

header::after{
    content:'';
    display: table;
    clear: both;
}

.Title_image{
    float:left;
}

nav{
    float:right;
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500%;
    padding-bottom: 10%;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

nav li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 5%;
    position:relative;
}

nav a{
    color:rgb(0, 90, 194);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:rgb(0, 25, 109);
}


nav a::before{
    content:'';
    display:block;
    height: 5%;
    width:0%;
    background-color:rgb(0, 25, 109);

    position:absolute;
    top:50%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before{
   width:100%;
    
}


.title{
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
    line-height: 300%;
    background-color: rgba(0, 139, 146, 0.226);
    transition: background-color ease-in-out 1000ms;
    padding: 1%;
        
}

.title:hover{
    background-color: rgba(0, 139, 146, 0.89);

}

.title a{
    color: rgb(0, 0, 0);
    transition: color ease-in-out 100ms;
    text-decoration: none;
    
}
.title a:hover{
    color:rgb(51, 51, 51);
}

.body{
    width: 90%;
    margin: auto;
    align-content: center;
    
}

.box{
    margin: auto;
    border: navy;
    padding: 5%;
    width:70%;
    height:fit-content;
    align-items:center;
    transition: all ease-in-out 1ms;
}

.box:hover{
    background-color: rgba(32, 178, 171, 0.164);

}

p1{
    letter-spacing: 1%;
    line-height: 150%;
    font-size: 120%;
    cursor: default;
}

p1 a{
    color: rgb(0, 60, 255);
    text-decoration: none;
    cursor: default;
}

p1 a:hover{
    color: rgb(0, 26, 51);

}

.bold{
    font-style:normal;
    font-weight: bold;
    color: rgb(75, 75, 2);
}

.italics{
    font-style: italic;
    color:rgb(0, 33, 37);
    font-weight:500;
    font-size: 110%;
}


.foot{
    padding: 5%;
    transition: all ease-in-out 500ms;
    width: 100%;
    text-align: center;
}

.foot a{
    cursor: default;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150%;
        
}

.foot:hover{
    background-color:  rgba(0, 139, 146, 0.363);
}

verse are put here
.title a[data-verse]{
    position: relative;
    
}

.title a[data-verse]::after{
    content: attr(data-verse);
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    position:absolute;
    left: 1%;
    bottom: 100%;
    white-space:nowrap;
    opacity:0;
    transition: all ease-out 200ms;
    border-radius: 3px;
    font-size: small;
    transition-delay: .7s;
}

.title a[data-verse]:hover::after{
    opacity: .8;
}
 
.box a[data-verse]{
    position: relative;
    
}

.box a[data-verse]::after{
    content: attr(data-verse);
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    position:absolute;
    left:20%;
    bottom: 100%;
    white-space:nowrap;
    opacity:0;
    transition: all ease-out 200ms;
    border-radius: 3px;
    font-size: small;
    transition-delay: .7s;
    
}

.box a[data-verse]:hover::after{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Salvation{
    padding: 5% 20%;
    transition: background-color ease-in-out 20s;
    
}

.Salvation:hover{
    background-color: rgba(0, 139, 146, 0.219);
}

.prayer_invitation{
    font-weight: bold;
    color: rgb(0, 73, 73);
    text-align:center;
}

.prayer{
    margin-top: 5%;
    text-align: center;
    color: rgb(0, 0, 85);  
}

.prayer::before{
    content: '"';
    font-weight:bolder;
    font-size: 200%;
    font-family:monospace;
    color: blue;
}

.prayer::after{
    content: '"';
    font-weight:bolder;
    font-size: 200%;
    font-family:monospace;
    color: blue;
}



.sole a[data-verse]{
    position: relative;
    
}

.sole a[data-verse]::after{
    content: attr(data-verse);
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    position:absolute;
    left:20%;
    bottom: 100%;
    white-space:nowrap;
    opacity:0;
    transition: all ease-out 200ms;
    border-radius: 3px;
    font-size: small;
    transition-delay: .7s;
    
}

.sole a[data-verse]:hover::after{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}














