body{
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image:url("The Prosperous Gospel_website background 3.png");

}
























































































































































